<div class="full-body">
  <div class="icon">
    <img
      src="https://media.istockphoto.com/id/1133313776/vector/grunge-green-catalog-word-round-rubber-seal-stamp-on-white-background.jpg?s=612x612&w=0&k=20&c=JQGYLDpLcV7JvEr5EqAwtLeY00F7FJZPh64PghcM7FY="
      alt=""
      height="90px"
      width="90px"
    />
  </div>
  <div class="head">
    <h4>You have Successfully Logged Out</h4>
  </div>
  <div class="logout-img">
    <img
      src="https://cdni.iconscout.com/illustration/premium/thumb/log-out-8044452-6430853.png?f=webp"
      alt=""
    />
  </div>
  <button class="btn btn-primary" (click)="signIn()">Sign In</button>
</div>
